<section class="mb-32">
  <h2 class="text-4xl mb-16 text-center text-blueCatolica font-semibold">
    Integridad: Concepto, Origen y Etimología
  </h2>

  <div class="flex flex-col gap-10">
    <article class="flex items-center gap-5">
      <div>
        <h3 class="text-3xl mb-3 text-blueCatolica font-semibold">Concepto</h3>
        <p class="text-lg max-w-[550px] text-balance">
          Integridad se traduce como honradez, honestidad, respeto por los
          demás, corrección, responsabilidad, control emocional, respeto por sí
          mismo, puntualidad, lealtad, pulcritud, disciplina, congruencia y
          firmeza en las acciones. En general, una persona íntegra es alguien en
          quien se puede confiar.
        </p>
      </div>

      <figure>
        <img class="w-[300px]" src="/images/integridad.webp" alt="Integridad" />
      </figure>
    </article>

    <article class="flex justify-center items-center gap-5">
      <div>
        <h3 class="text-3xl mb-3 text-blueCatolica font-semibold">Origen</h3>
        <p class="text-lg max-w-[550px] text-balance">
          La integridad es un concepto que ha evolucionado a lo largo de la
          historia y tiene sus raíces en diversas tradiciones filosóficas,
          religiosas y culturales. En términos generales, la integridad se
          refiere a la coherencia y la adherencia a principios y valores éticos
          y morales. Tiene un origen multifacético y ha sido valorada a lo largo
          de la historia en diferentes contextos filosóficos, religiosos y
          culturales.
        </p>
      </div>

      <figure>
        <img class="w-[400px]" src="/images/bien-mal.webp" alt="Bien o Mal" />
      </figure>
    </article>

    <article class="flex justify-center items-center gap-5">
      <div>
        <h3 class="text-3xl mb-3 text-blueCatolica font-semibold">
          Etimología
        </h3>
        <p class="text-lg max-w-[550px] text-balance">
          La palabra “integridad” proviene del latín “integritas” que significa
          “estado de ser completo o entero”. Deriva del adjetivo “integer”, que
          significa “intacto” o “no tocado”. Así, integridad se asocia con la
          idea de algo completo y sin corrupción.
        </p>
      </div>

      <figure>
        <img class="w-[400px]" src="/images/etimologia.webp" alt="Etimología" />
      </figure>
    </article>
  </div>
</section>
