<section class="p-10 bg-blueCatolica rounded-2xl mb-28">
  <h2 class="text-4xl text-balance text-center mb-6 text-white font-semibold">
    ¿Qué diferencias hay entre los demás valores y la integridad?
  </h2>

  <p class="text-lg leading-8 text-white">
    La integridad es un valor fundamental que abarca y se sustenta en otros
    valores como la honestidad, la responsabilidad y el respeto. A diferencia de
    los demás valores, la integridad se centra en mantener una coherencia
    constante entre los principios y las acciones, asegurando que todas las
    decisiones y comportamientos estén alineados con principios éticos y
    morales.
  </p>
</section>
