<section class="mb-10">
  <h2
    class="text-4xl mb-8 text-blueCatolica text-center text-balance font-semibold"
  >
    Características de la integridad
  </h2>

  <ul class="list-disc marker:text-blueCatolica text-lg pl-5">
    <li>
      Una persona íntegra busca mejorar constantemente, cuidando su bienestar
      físico, mental y espiritual de manera equilibrada.
    </li>

    <li>
      Reconoce y respeta las normas establecidas por la sociedad, como mantener
      la derecha en las escaleras, entendiendo su propósito y aplicándolas en su
      vida diaria.
    </li>

    <li>
      Acepta y valora el conocimiento que fomenta el crecimiento moral y
      personal, absorbiendo lo positivo de diversos valores.
    </li>

    <li>
      Identifica sus áreas de mejora y trabaja en ellas, mientras cultiva y
      mantiene activamente sus habilidades ya dominadas.
    </li>

    <li>
      Practica la introspección para mejorarse a sí mismo diariamente, sin
      olvidar compartir sus aprendizajes para beneficiar a los demás.
    </li>
  </ul>
</section>
