<section class="flex flex-col items-center justify-center pb-20">
  <h2
    class="text-4xl mb-12 text-blueCatolica text-center text-balance font-semibold"
  >
    Actividad
  </h2>
  <img src="/images/game.webp" alt="Juego Integridad" />
</section>
