<section class="hero flex flex-col items-center justify-center">
  <header class="mb-10">
    <figure class="flex items-center mb-2">
      <h1 class="text-7xl font-semibold">Integridad</h1>
      <img
        class="w-[120px]"
        src="/images/u-catolica.webp"
        alt="Logo Universidad Católica"
      />
    </figure>
    <h2 class="text-3xl text-center text-blueCatolica font-semibold">
      Preseminario
    </h2>
  </header>

  <h3 class="text-xl text-center text-blueCatolica font-semibold mb-3">
    Integrantes:
  </h3>
  <u class="flex list-none no-underline gap-5">
    <li class="py-2 px-4 bg-blueCatolica text-white rounded-full">
      Juan Pablo Rojas
    </li>
    <li class="py-2 px-4 bg-blueCatolica text-white rounded-full">
      José Daniel Rodriguez
    </li>
    <li class="py-2 px-4 bg-blueCatolica text-white rounded-full">
      Mayer Andres Chaves
    </li>
    <li class="py-2 px-4 bg-blueCatolica text-white rounded-full">
      Jose Manuel Bastidas
    </li>
  </u>
</section>

<style>
  .hero {
    height: calc(100dvh - 4rem);
  }
</style>
