---
import { Icon } from "astro-icon/components";
---

<nav class="flex justify-end w-full py-5 px-7">
  <a
    href="https://github.com/Mayer-04/preseminario"
    target="_blank"
    rel="noopener noreferrer"
  >
    <Icon name="github" class="size-8" />
  </a>
</nav>
