<section class="mb-28">
  <h2
    class="text-4xl text-center text-balance mb-9 text-blueCatolica font-semibold"
  >
    Ejemplos de personas que han demostrado integridad
  </h2>

  <div class="flex flex-col">
    <article class="flex gap-5 bg-blueCatolica">
      <img
        class="w-[250px] h-[250px]"
        src="/images/rosaparks.webp"
        alt="Rosa Parks"
      />
      <div class="p-5">
        <h3 class="text-2xl text-center text-yellowCatolica font-semibold">
          Rosa Parks
        </h3>
        <p
          class="text-center mb-2 italic text-balance text-yellowCatolica font-medium"
        >
          (Tuskegee, Alabama, 4 de febrero de 1913-Detroit, Míchigan, 24 de
          octubre de 2005)
        </p>
        <p class="text-white">
          Activista de derechos civiles, Rosa Parks es conocida por su valiente
          acto de desafío al negarse a ceder su asiento en un autobús a un
          pasajero blanco en Montgomery, Alabama. Este acto de integridad y
          valentía desencadenó el Movimiento por los Derechos Civiles en Estados
          Unidos y destacó la importancia de luchar pacíficamente por la
          igualdad y la justicia.
        </p>
      </div>
    </article>

    <article class="flex bg-yellowCatolica">
      <div class="p-6">
        <h3 class="text-2xl text-center font-semibold">Malala Yousafzai</h3>
        <p class="text-center mb-2 italic text-balance font-medium">
          (Mingora, 12 de julio de 1997)
        </p>
        <p>
          Activista paquistaní por la educación de las niñas, Malala se enfrentó
          a los talibanes que intentaron asesinarla por su defensa de los
          derechos educativos. A pesar de las amenazas y del ataque que casi le
          cuesta la vida, Malala continuó luchando por la educación y la
          igualdad, convirtiéndose en la persona más joven en recibir el Premio
          Nobel de la Paz.
        </p>
      </div>
      <img class="w-[250px]" src="/images/malala.webp" alt="Malala Yousafzai" />
    </article>
  </div>
</section>
