<section class="mb-28">
  <h2
    class="text-4xl mb-12 text-balance text-center text-blueCatolica font-semibold"
  >
    Integridad en la universidad: Cómo se refleja
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
    <article class="px-6 py-7 bg-blueCatolica rounded-2xl">
      <h3 class="text-white text-xl text-balance mb-2 font-semibold">
        Respeto a Todos en la Universidad
      </h3>
      <p class="text-lg text-white text-balance">
        Trata a todos con respeto, desde los trabajadores hasta tus compañeros y
        profesores. Un ambiente respetuoso es clave para que todos se sientan
        bien y aprendan mejor.
      </p>
    </article>

    <article class="px-6 py-7 bg-yellowCatolica rounded-2xl">
      <h3 class="text-xl text-balance mb-2 font-semibold">
        Admite tus Errores
      </h3>
      <p class="text-lg text-balance">
        Si te equivocas, reconócelo y acepta las consecuencias. Esto muestra que
        eres responsable y que estás comprometido con tu propio crecimiento.
      </p>
    </article>

    <article class="px-6 py-7 bg-blueCatolica rounded-2xl">
      <h3 class="text-white text-xl text-balance mb-2 font-medium">
        Sé Honesto y Responsable con tus Tareas
      </h3>
      <p class="text-lg text-white text-balance">
        Haz tus trabajos y tareas de forma honesta. Copiar o hacer trampa no
        solo afecta tu aprendizaje, sino también tu ética.
      </p>
    </article>

    <article class="px-6 py-7 bg-blueCatolica rounded-2xl">
      <h3 class="text-white text-xl text-balance mb-2 font-medium">
        Llega a Tiempo
      </h3>
      <p class="text-lg text-white text-balance">
        Ser puntual demuestra que te importa la clase y respetas el tiempo del
        profesor y de tus compañeros. La puntualidad es una señal de seriedad y
        compromiso.
      </p>
    </article>

    <article class="px-6 py-7 bg-yellowCatolica rounded-2xl">
      <h3 class="text-xl text-balance mb-2 font-semibold">
        Gana la Confianza de los Demás
      </h3>
      <p class="text-lg text-balance">
        Actúa de manera que los demás puedan confiar en ti. Adherirte a tus
        valores y ser confiable son cualidades importantes para tus relaciones
        en la universidad y en el futuro profesional.
      </p>
    </article>

    <article class="px-6 py-7 bg-blueCatolica rounded-2xl">
      <h3 class="text-white text-xl text-balance mb-2 font-medium">
        Mejora tu Bienestar
      </h3>
      <p class="text-lg text-white text-balance">
        Tener confianza y una buena autoestima se reflejan en cómo te relacionas
        y aprendes en la universidad.
      </p>
    </article>
  </div>
</section>
